/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* light/dark mode colours */
:root {
    --bg-colour: rgb(255, 255, 255);
    --header-bg-colour: rgb(228, 202, 255);
    --header-text-colour: rgb(57, 0, 117);
    --subtitle-text-colour: rgb(228, 202, 255);
    --category-song-bg-colour: rgb(247, 240, 255);
    --category-song-text-colour: rgb(19, 16, 23);
    --category-song-shadow-colour: rgba(0, 0, 0, 0.35);
    --category-art-blur-brightness: 1;
    --category-art-blur-contrast: 2;
    --category-side-blur-colour-0: rgba(255, 255, 255, 0);
    --category-side-blur-colour-1: rgba(255, 255, 255, 1);
    --category-play-button-colour: rgb(228, 202, 255);
    --track-list-song-colour: rgb(250, 246, 255);

}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: hsl(0, 0%, 10%);
        --header-bg-colour: rgb(71, 50, 93);
        --header-text-colour: rgb(238, 222, 255);
        --subtitle-text-colour: rgb(19, 16, 23);
        --category-song-bg-colour: rgb(62, 59, 65);
        --category-song-text-colour: rgb(255, 255, 255);
        --category-song-shadow-colour: hsla(0, 0%, 40%, 0.35);
        --category-art-blur-brightness: 1.5;
        --category-art-blur-contrast: 0.8;
        --category-side-blur-colour-0: rgba(26, 26, 26, 0);
        --category-side-blur-colour-1: rgba(26, 26, 26, 1);
        --category-play-button-colour: rgb(135, 127, 144);
        --track-list-song-colour: hsl(270, 5%, 35%);
    }
}

body {
    background-color: var(--bg-colour);
}

.header-div {
    font-family: 'Poppins', sans-serif;
    background: var(--header-bg-colour);
    color: var(--header-text-colour);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
    left: 0;
    top: 0;
    
}
.header-title {
    text-align: center;
    margin-top: 0;
}
.header-back-button {
    position:absolute;
    margin: 0;
    top: 8px;
    left: 15px
}
.home-container {
    font-family: 'Poppins', sans-serif;
    color: var(--subtitle-text-colour);
    margin-inline: calc(6vw - 20px);
    margin-top: 70px;
    position: relative;
    transform: translate(0%, 0%);
    opacity: 0;
    transition: opacity 0.3s linear 0.1s;
    animation-timing-function: ease-out;
}
@keyframes example {
    0% {transform: translate(0%, 0%);opacity: 1;}
    100% {transform: translate(-105%, 0%);opacity: 0;}
}


.home-category {
    position: relative;
}
.category-music-list {
    display: flex;
    position: relative;
    overflow-x: auto;
    padding: 15px 25px 15px 25px;
    margin-top: -20px;
}
.category-title {
    color: var(--header-text-colour);
    padding: 0 0 0 25px;
}
.category-song {
    background: var(--category-song-bg-colour);
    color: var(--category-song-text-colour);
    font-weight:500;
    margin-right: 20px;
    border-radius: 20px;
    padding: 15px 15px 10px 15px;
    box-shadow: 0px 0px 8px var(--category-song-shadow-colour);
    width: 180px;
    position:relative;
    display: grid;
    white-space: nowrap;
    transition: 0.2s;
    transition-delay:0.15s;
    transition-timing-function: ease-in-out;
}
.category-song-artist-text {
    font-weight:400;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-song-title-text {
    font-weight:600;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (hover:hover) and (pointer: fine) {
    .category-song:hover > .category-album-art-blur {
        filter: contrast(var(--category-art-blur-contrast)) brightness(var(--category-art-blur-brightness)) blur(10px);
        transition: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .category-song:hover > .category-play-button {
        opacity: 1;
        left:215px;
        transition: 0.15s;
        transition-delay:0.05s;
        transition-timing-function: ease-in-out;
    }
    .category-song:hover {
        width: 257px;
        transition: 0.2s;
        transition-delay:0s;
        transition-timing-function: ease-in-out;
    }
}
.category-side-graient {
    background:rgba(200, 0, 0, 0.4);
    background: linear-gradient(to right, var(--category-side-blur-colour-1), var(--category-side-blur-colour-0) calc(25px), var(--category-side-blur-colour-0) calc((100% - 25px)), var(--category-side-blur-colour-1));
    position:absolute;
    width: 100%;
    height: 95%;
    left: 0px;
    top: 35px;
    pointer-events: none;
}
.category-album-art {
    width: 180px;
    height: 180px;
    border-radius: 25px;
    padding: 0 0 10px 0;
    position: absolute;
    left:15px;
    top: 15px;
}
.category-album-art-blur {
    width: 180px;
    height: 180px;
    border-radius: 25px;
    padding: 0 0 10px 0;
    filter: contrast(var(--category-art-blur-contrast)) brightness(var(--category-art-blur-brightness)) blur(10px);
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}
.category-play-button {
    background: var(--category-play-button-colour);
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position:absolute;
    left:200px;
    top:20px;
    transition: 0.1s;
    transition-delay:0.15s;
    transition-timing-function: ease-in-out;
}


/* ALBUM VIEW */
.album-view-container {
    font-family: 'Poppins', sans-serif;
    color: var(--subtitle-text-colour);
    margin-inline: calc(6vw - 20px);
    margin-top: 70px;
    opacity: 0;
    transition: 0.3s;
}
.album-view-header-container {
    display: grid;
    margin: auto;
    color: var(--category-song-text-colour);
}
.album-view-art-container {
    
    font-weight:500;
    padding: 15px 15px 10px 15px;
    width: 180px;
    position:relative;
    display: grid;
    white-space: nowrap;
    margin: auto;
}
.album-view-art {
    width: 180px;
    height: 180px;
    border-radius: 25px;
    position: absolute;
    left:15px;
    top: 15px;
}
.album-view-art-blur {
    width: 180px;
    height: 180px;
    border-radius: 25px;
    filter: contrast(var(--category-art-blur-contrast)) brightness(var(--category-art-blur-brightness)) blur(10px);
}
.album-view-title {
    color: var(--category-song-text-colour);
    text-align: center;
    margin: auto;
}
.album-view-artist {
    color: var(--category-song-text-colour);
    margin: auto;
    text-align: center;
    font-weight: 500;
}
.album-view-features {
    color: var(--category-song-text-colour);
    margin: auto;
    text-align: center;
    font-weight: 500;
}
table {
    background-color: var(--category-song-bg-colour);
    border-radius: 10px;
    padding: 5px 10px;
    border-collapse: separate !important;
    border-spacing: 0 5px;


}
td {
    padding: 5px 10px;
}
tr {
    background-color: var(--track-list-song-colour);
    filter: drop-shadow(0px 0px 5px #00000022);
    border-radius: 10px;
}
td:first-child { border-radius: 7px 0 0 7px;}
td:last-child { border-radius: 0 7px 7px 0;}

.track-list {
    width: 100%;
    max-width: 100%;
    color: var(--category-song-text-colour);
}
.track-list-title-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 6px;
}
.track-list-title {
    font-weight: 500;
}
.track-list-artists {
    font-weight: 400;
}

.track-list-symbol-container {
    width: 5%;
    text-align: right;
}
.track-list-length-container {
    width: 10%;
    text-align: right;
}
.track-list-menu-container {
    width: 2%;
    text-align: right;
}